*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
}
.calculator{
    border: 1px solid black;
    height: 40vh;
    padding: 15px;
    text-align: center;
    background-color: rgba(220, 20, 60, 0.507);
    
}
input{
    width: 100%;
    margin-bottom: 10px ;
}

button:hover{
padding: 10px;
background-color: rgba(0, 0, 139, 0.514);
box-shadow:3px 3px 3px ;
color:#fff ;
}
button{
    margin-top: 15px;
    margin-bottom: 10px;
}
.result{
    margin-top: 10px;
}
input:focus{
color: rgba(255, 0, 0, 0.966);
}